*, ::after, ::before {
    box-sizing: border-box;
}

:root {
    --x: 50;
    --y: 50;
    --position-right: 50;
    --position-left: 50;
}

.pong {
    margin: 0;
    background-color: black;
    height: 100vh;    
}

.paddle {
    position: absolute;
    background-color: white;
    width: 1vh;
    height: 10vh;
}

.paddle.left {
    left: 1vw;
    top: calc(var(--position-left) * 1vh);
    transform: translateY(-50);
}

.paddle.right {
    right: 1vw;
    top: calc(var(--position-right) * 1vh);
    transform: translateY(-50);
}

.ball {

    position: absolute;
    background-color: white;
    top: calc(var(--y) * 1vh);
    left: calc(var(--x) * 1vw);
    border-radius: 50%;
    transform: translate(-50, -50);
    width: 2.5vh;
    height: 2.5vh;    
}

.score {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 7vh;
    color: white;
}

.score > * {
    flex-grow: 1;
    flex-basis: 0;
    opacity: 0.5;
}

.buttonStart {
    position: absolute;
    top: 30vh;
    left: 50%;
    height: 5vh;
    width: 20vh;
    background-color: aqua;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.buttonStart:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}