.message-container, .scroll {
    display: flex;
    flex-direction: column;
    overflow-y:auto;
    max-height: 100%;
    /* transform: scale(1,-1); */
}

.message {
    color: white;
    padding: 10px;
    width: fit-content;
    min-width: 10em;
    border-radius: 10px;
}

.message-left {
    align-self: start;
    background-color: grey;
}

.message-right {
    background-color: blue;
    align-self: self-end;
}

.option-buttons {
	display: flex;
	justify-content: space-between;
}

.info-message {
	opacity: .6;
	align-self: center;
}

.button-action {
    height: 3vh;
    width: 17vh;
    background-color: #00ffff;
    border-radius: 20px;
}

.form-radio {
    display: flex;
    justify-content: space-between;
}

.channel-form > input[type=text] {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

.chat {
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(7 89 133);
    border-radius: 2%;
}

.chat-left {
    background-color: rgb(7 89 133);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    width: 30%;
}
.chat-left > input[type='text'] {
    color: black;
}
.chat-right {
    flex-grow: 2;
}

.bottom-button {
    display: flex;
    justify-content: space-between;
}
