.message-container, .scroll {
    display: flex;
    flex-direction: column;
    overflow-y:auto;
    max-height: 100%;
    padding: 10px;
    /* transform: scale(1,-1); */
}

.message {
    color: white;
    padding: 10px;
    width: fit-content;
    min-width: 10em;
    border-radius: 10px;
}

.message-left {
    align-self: start;
    background-color: grey;
}

.message-right {
    background-color: rgb(7 89 133);
    align-self: self-end;
}

.option-buttons {
	display: flex;
	justify-content: space-between;
}

.info-message {
	opacity: .6;
	align-self: center;
}

.button-action {
    height: 3vh;
    width: 17vh;
    background-color: #00ffff;
    border-radius: 20px;
}

.form-radio {
    display: flex;
    justify-content: space-between;
}

.channel-form > input[type=text] {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

.chat {
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(7 89 133);
}

.channel-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.channel-name-container {

}

.channel-name-container > h1{
    font-size: 2em;
    letter-spacing: .08em;
    font-weight: 700;
    margin-bottom: -0.2em;
}

.chat-left {
    background-color: rgb(7 89 133);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    width: 30%;
}
.chat-left > input[type='text'] {
    color: black;
}
.chat-right {
    flex-grow: 2;
}

.bottom-button {
    display: flex;
    justify-content: space-between;
}

input {
    color:black;
}

.user-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-img {
    object-fit: cover;
    width: 50px;
    height: 50px;
}