.message-container, .scroll {
    display: flex;
    flex-direction: column;
    overflow-y:auto;
    max-height: 100%;
    /* transform: scale(1,-1); */
}

.message {
    color: white;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
}

.message-left {
    align-self: start;
    background-color: grey;
}

.message-right {
    background-color: blue;
    align-self: self-end;

}

