@tailwind base;
@tailwind components;
@tailwind utilities;


.page-title{
  font-weight: bold;
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
  letter-spacing: -0.025em;
  color: white;
}

.page-header {
  text-align: center;
  background-color: 	rgb(199 210 254);;

}

.text-line{
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

	.base {
		background-size: cover;
		overflow: hidden;
		color: #fbff0e;
	}

	.crawl {
		font-family: Arial, sans-serif;
		text-align: justify;
		margin: 0 auto;
		font-weight: 800;
		font-size: 50px;
		line-height: 80px;
		width: 1000px;
		height: 1600px;
		transform: perspective(250px) rotateX(20deg);
		animation: scrollCrawl 90s linear;
	}

	.preheader {
		text-align: center;
		margin: 40px 0;
	}

	.header {
		text-align: center;
		margin: 0 0 100px 0;
	}

	@keyframes scrollCrawl {
		0% {
			transform: perspective(250px) rotateX(20deg) translateY(680px);
			opacity: 1;
		}
		50% {
			opacity: 1;
		}
		100% {
			transform: perspective(250px) rotateX(20deg) translateY(-4000px);
			opacity: 0;
		}
	}



.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

html {
	height: 100%;
}